


/*
@font-face{font-family:bold;src: url(https://ftm.guru/font/bold.ttf);}
@font-face{ font-family:italic;src: url(https://ftm.guru/font/italic.ttf);}
@font-face{ font-family:light_italic;src: url(https://ftm.guru/font/light_italic.ttf);}
@font-face{ font-family:regular;src: url(https://ftm.guru/font/regular.ttf);}
@font-face{ font-family:regular_italic;src: url(https://ftm.guru/font/regular_italic.ttf);}

@font-face{ font-family:light;src: url(https://ftm.guru/font/light.ttf);}
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*/
@font-face{ font-family:light;		src: url(https://eliteness.network/fonts/Roboto/Roboto-Light.ttf);}
@font-face{ font-family:regular;	src: url(https://eliteness.network/fonts/Roboto/Roboto-Regular.ttf);}
@font-face{ font-family:bold;		src: url(https://eliteness.network/fonts/Roboto/Roboto-Bold.ttf);}

html{
	background-size: 100%;
	background-attachment: fixed;
	color:#fff;
	/*text-shadow: 2px 2px 2px #000;*/
	background-image: linear-gradient( 45deg, black, #0007);
	background-color:#01011d;
	background-image:radial-gradient(at 70% 5%,rgba(6,101,216,.16) 0,transparent 50%);
	background-color:#01011d;
	background-image:radial-gradient(at 30% 5%,rgba(16,201,255,.36) 0,transparent 50%);
	background-attachment: fixed;
	background-position: cover;
}
body {
	margin:0;
}
* {
	scroll-behavior: smooth !important;
	font-family: regular;
	transition: background-size 0.5s;
}

.topnav {
	display:grid;
	grid-template-columns:auto;
	margin:0;
	padding:2vh 1vw;
	position: sticky;
	top: 0;
	background:linear-gradient(to bottom, rgba(0,0,16,0.8), rgba(0,19,55,0.8));
	z-index:0;
}
.topnav div:first-child {
	font-size: 2em;
	font-family: light;
}
.topnav div:nth-child(2) p {
	text-align: left;
	margin:auto 1vw;
}
.topnav a {
	font-family: light;
	text-decoration: none;
	color: white;
}

@media(min-width:641px) {
	.topnav {
		display:grid;
		grid-template-columns:auto max-content;
	}

	.amount-sold input, .amount-bought input {
		font-size: 2em;
	}

	.amount-sold b, .amount-bought b {
		font-family: regular;
	}

	.mechanism .input-amount img.bigthumb {
		width: 100px;
		height: 100px;
	}
	.subnav {
		grid-template-columns:auto auto max-content auto auto;
	}
	.subnav-link {
		margin: -2px 2px;
	}
}

a {
  text-decoration-line: none;
  color: initial;
}

h1 {
  font-size:1em;
}
@media(min-width:641px) {
  h1 {
    font-size:1em;
  }
}
.social {
	text-align: center;
}
.social a img {
  height: 24px;
  margin:4px 4px 4px 0;
}

.cat-h2 {
	font-size:1em;
	margin-left: 10px;
	font-family: ;
}

/************* NOTIFS ****************/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow-y:  auto;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #192133;
  color: #fff;
  border-radius: 20px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #789;
}
.popup .close:hover {
  color: #fff;
  cursor:  context-menu
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}



/**************** TILES ********************/

.subhead-small {
  font-size:0.8em;
  color:#999;
}
.subhead-big {
  font-size:1em;
  color:#fff;
}
.wrapper-chains img {
  height:20px !important;
}
.wrapper-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.wrapper-tile * {
	word-break: break-word;
}
.wrapper-tile {
  background: rgba(0,0,0,0.2);
  margin: 5px;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
}
.wrapper-tile img {
  vertical-align: bottom;
  height: 38px;
}
.wrapper-tile-title {
  display: grid;
  grid-template-columns: 50px auto;
}
.wrapper-tile-title div {
  margin-left: 0px;
}
.wrapper-tile-title-noimg {
  display: grid;
  grid-template-columns: auto;
}

.wrapper-desc {
  font-size:0.7em;
  display:;
  font-family: regular
}
